<!DOCTYPE html>
<html>
<head>
    <title>Asana Subscriber</title>
    <meta http-equiv="refresh" content="1" />
</head>
<body>
    <h1>Hello World! &#128521;</h1>
    <h3>It's asana subscriber app version: <%= version %></h3>
    <hr>
    <pre><%= logs %></pre>
</body>
</html>
